<div class="container mx-auto my-4 card p-4">
  <div class="d-flex justify-content-between align-items-center">
    <h4>Devices</h4>
    <button class="btn btn-primary" (click)="listDevices()">Refresh</button>
  </div>
  <ul class="list-group mt-4">
    <li class="list-group-item" *ngFor="let d of devices">
      <div class="d-flex justify-content-between align-items-center">
        <span>{{ d.name }}</span>
        <button class="btn btn-sm btn-outline-primary" (click)="getToken(d)">
          Token
        </button>
      </div>
    </li>
  </ul>
</div>
