<div class="grid place-items-center h-4/5">
  <div class="p-4 border rounded shadow bg-white">
    <form (submit)="onSubmit()" [formGroup]="form">
      <h1 class="text-lg text-center mb-5">Sign In</h1>
      <div class="flex flex-col">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" formControlName="email" />
      </div>
      <div class="flex flex-col mt-2">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          formControlName="password"
        />
      </div>

      <div *ngIf="validationError">
        <p class="text-danger-500">{{ validationError }}</p>
      </div>

      <div class="flex justify-end mt-4">
        <app-button variant="primary" text="Sign In" type="submit" (click)="onSubmit()"></app-button>
      </div>
    </form>
  </div>
</div>
