<div
  class="mt-2 bg-slate-100/80 backdrop-blur-sm rounded-b-full rounded-t-full p-1"
>
  <ul class="flex flex-col space-y-2">
    <button class="w-8 h-8 rounded-full">
      <i class="bi bi-circle"></i>
    </button>
    <button class="w-8 h-8 rounded-full">
      <i class="bi bi-circle"></i>
    </button>
    <button class="w-8 h-8 rounded-full">
      <i class="bi bi-circle"></i>
    </button>
    <button class="w-8 h-8 rounded-full">
      <i class="bi bi-circle"></i>
    </button>
  </ul>
</div>
