<div class="absolute left-2 top-2" *ngIf="showNav">
  <div
    class="relative bg-slate-100/80 backdrop-blur-sm rounded-b-full rounded-t-full p-1"
  >
    <button class="w-8 h-8 rounded-full" (click)="navService.openMenu()">
      <i class="bi bi-list"></i>
    </button>
  </div>
</div>

<div
  [ngClass]="{ 'translate-x-full': navService.isOpen }"
  class="absolute top-0 right-full transition-transform"
>
  <nav class="relative bg-primary-700 h-screen flex flex-col" *ngIf="showNav">
    <div class="flex justify-items-center shadow-sm">
      <a
        routerLink="/"
        (click)="navService.closeMenu()"
        class="flex-1 flex items-center space-x-2 text-white p-2 hover:text-primary-600 hover:bg-white hover:shadow-sm transition-colors"
      >
        <i class="bi bi-snow"></i>
        <span>Home</span>
      </a>

      <button
        class="h-full px-2 text-white hover:text-primary-600 hover:bg-white hover:shadow-sm transition-colors"
        type="button"
        (click)="navService.closeMenu()"
      >
        <i class="bi bi-x"></i>
      </button>
    </div>
    <ul class="flex flex-col flex-1 bg-primary-600">
      <li *ngFor="let i of menuItems">
        <a
          [routerLink]="i.link"
          (click)="navService.closeMenu()"
          class="flex items-center space-x-2 text-white p-2 hover:text-primary-600 hover:bg-white hover:shadow-sm transition-colors"
        >
          <i [class]="i.icon"></i>

          <span>{{ i.text }}</span>
        </a>
      </li>

      <div class="flex-1"></div>

      <li>
        <a
          routerLink="/settings/account"
          class="flex items-center space-x-2 text-white p-2 hover:text-primary-600 hover:bg-white hover:shadow-sm transition-colors"
          (click)="navService.closeMenu()"
        >
          <i class="bi bi-person"></i>
          <span>Account</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
