<div class="p-4 sm:max-w-4xl sm:mx-auto">
  <h2 class="text-xl font-semibold my-2">Devices</h2>
  <div>
    <ul class="flex flex-col space-y-2">
      <li
        class="bg-white rounded shadow p-4 text-gray-600"
        *ngFor="let d of devices"
      >
        <div class="flex items-center justify-between">
          <div class="flex flex-col">
            <h3 class="font-bold">{{ d.name }}</h3>
            <span class="text-sm">ID: {{ d.id }}</span>
          </div>
        </div>

        <div class="flex mt-4">
          <app-button
            text="Delete"
            variant="danger"
            [icon]="deleteIcon"
            (click)="deleteDevice(d)"
          ></app-button>
        </div>
      </li>
    </ul>
  </div>
</div>
