<div class="flex flex-col flex-1 h-full">
  <div
    class="flex-1 bg-slate-700 z-10"
    leaflet
    [leafletOptions]="options"
    (leafletMapReady)="onMapReady($event)"
  >
    <div *ngFor="let m of markers" [leafletLayer]="m"></div>
  </div>
</div>

<div class="absolute left-2 top-2 z-20">
  <app-control [map]="map"></app-control>
</div>

<div
  class="absolute transition-transform left-1 right-1 h-[80vh] z-20"
  [ngClass]="{
    '-translate-y-1/2': !bottomMenuHidden
  }"
  style="top: calc(100% - 48px)"
>
  <div
    class="rounded shadow bg-slate-100/50 backdrop-blur-sm p-2 h-full w-full"
  >
    <button
      class="w-full p-1 mb-3 bg-slate-50/50 backdrop-blur-md shadow-sm rounded-sm"
      (click)="toggleBottomMenu()"
    >
      <i class="bi bi-chevron-up" *ngIf="bottomMenuHidden"></i>
      <i class="bi bi-chevron-down" *ngIf="!bottomMenuHidden"></i>
    </button>
    <ul class="flex flex-col space-y-2 overflow-y-auto">
      <li
        *ngFor="let d of devices"
        class="bg-white shadow-sm rounded-sm p-1"
        role="button"
        (click)="goto(d)"
      >
        <h1>{{ d.name }}</h1>
        <div *ngIf="locations[d.id]">
          {{ getLatestLocation(d)?.created | date: "E d LLL h:mm a" }}
        </div>
      </li>
    </ul>
  </div>
</div>
